.listItems{
    padding: 2rem;
    font-size: max(1.2vw, 15px);
    margin-left: 5%;
    margin-right: 5%;
}

.listItems.active{
    background-color: #BA8B6D;
    border-radius: 15px;
}

.GroupList{
  width: 50%;
  background-color: #C7A387;
  color: #f0e9e0;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .GroupList{
    width: 75%;
  }
}
