body {
  margin: 0;
  padding: 0;
  background-color: #f0e9e0;
}


.headerWrapper {
    width: 60%;
    position: relative;
}

.headerImg {
     width: 100%;
}

.headerText{ 
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    color: #f0e9e0;
    font-family: "DM Serif Text";
    font-size: 4vw;
}

.typingText{
    font-size: 2.5vw;
    color: #594E40;
    font-family: "DM Serif Text";
    position: absolute;
    left: 10%;
}

.CurvedDiv1 {
  position: relative;
  margin-top: 10%;
  width: 40%;
  left: 60%;  
  color: #f0e9e0;
}

.CurvedDiv1 h2{
  position: absolute;
  left: 30%;
  top: 28%;
  font-size: 2vw;
}

.CurvedDiv1 p{
  position: absolute;
  left: 30%;
  top: 40%;
  font-size: 1.2vw;
}

.CurvedDiv2 p, .CurvedDiv3 p{
  font-size: 1.2vw;
}

.CurvedDiv3 h2{
  font-size: 2vw;
}

.CurvedDiv1 svg{
  width: 100%;
  height: auto;
  display: block;
}

.CurvedDiv2{
  position: relative;
  background-color: #594E40;
  width: 40%;
  margin-top:10%;
  border-radius: 15px;
  color: #f0e9e0;
  left: 5%;
}

.CurvedDiv2 table, .CurvedDiv3 table{
  display: flex;
  margin: 1rem;
}

.CurvedDiv2 tr{
  width: 50%;
}

.AzerbaijanMap{
  width: 100%;
  height: auto;
  border-radius: 15px;
}



/* .CurvedDiv3{
  position: absolute;
  background-color: #594E40;
  width: 35%;
  top:230%;
  border-radius: 15px;
  color: #f0e9e0;
  right: 5%;
  display: block;
  padding: 1rem;
  align-items: center;
  text-align: center;
} */

.CurvedDiv3{
  border-radius: 15px;
  position: relative;
  background-color: #594E40;
  width: 35%;
  margin-top: 10%;
  right: 5%;
  left: 55%;  
  color: #f0e9e0;
  display: block;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.CurvedDiv3 video{
  width: 100%;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .headerWrapper {
    width: 80%;
  }

  .headerText {
    font-size: 6vw;
    top: 12%;
    left: 10%;
  }

  .typingText {
    font-size: 5vw;
    margin-top: 2rem;
  }

  .headerImg {
    width: 100%;
  }
}