body {
  margin: 0;
  padding: 0;
  background-color: #f0e9e0;
}


.headerWrapper {
    width: 60%;
    position: relative;
    top: 0%;
    left: -3%;
}

.headerImg {
     width: 100%;
     display: block;
     height: auto;
}

.headerText{ 
    position: absolute;
    top: 0%;
    left: 10%;
    transform: translate(-5%, -10%);
    color: #f0e9e0;
    font-family: "DM Serif Text";
    font-size: max(4vw, 30px);
}

.typingText{
    font-size: max(2.5vw, 30px);
    color: #594E40;
    font-family: "DM Serif Text";
    position: absolute;
    left: 10%;
}

.CurvedDiv1 {
  position: relative;
  margin-top: 10%;
  width: max(250px, 50%);
  float: right; 
  color: #f0e9e0;
}

.CurvedDiv1 h2{
  position: absolute;
  left: 30%;
  top: 28%;
  font-size: max(2vw, 18px);
}

.CurvedDiv1 p{
  position: absolute;
  left: 30%;
  top: 40%;
  font-size: max(1.2vw, 15px);
}


.CurvedDiv1 svg{
  width: 100%;
  height: auto;
  display: block;
}

.CurvedDiv2{
  margin-top: 50%;
  position: relative;
  width: max(300px, 50%);
  border-radius: 15px;
  color: #f0e9e0;

}

.CurvedDiv2 svg{
  width: 100%;
  height: auto;
}

.CurvedDiv2 table{
  position: absolute;
  margin-top: 25%;
  font-size: 1.2vw;
  margin-left: 10%;
  margin-right: 15%;
}

.CurvedDiv2 tr{
  width: 50%;
}

.CurvedDiv2 h2{
  font-size: max(2vw, 18px);
}

.CurvedDiv2 p{
  font-size: max(1.2vw, 15px);
}

.AzerbaijanMap{
  width: 80% !important;
  height: auto;
  border-radius: 15px;
}

.CurvedDiv3{
  position: relative;
  width: max(350px,60%);
  float: right;
  color: #f0e9e0;
  display: block;
  align-items: center;
  text-align: center;
}

.CurvedDiv3 svg{
  width: 100%;
  height: auto;
}

.CurvedDiv3 video{
  border-radius: 15px;
  position: absolute;
  width: 50%;
  top: 40%;
  left: 25%;
}

.CurvedDiv3 h2{
  left: 25%;
  top: 30%;
  font-size: max(2vw, 18px);
  position: absolute;
}

.CurvedDiv3 p{
  left: 25%;
  top: 65%;
  position: absolute;
  font-size: max(1.2vw, 15px);
}

@media screen and (max-width: 768px) {
  .headerWrapper {
    width: 100%;
  }

  .headerText {
    /* font-size: 7vw; */
    top: 7%;
    left: 10%;
  }

  .typingText {
    /* font-size: 6vw; */
    margin-top: 2rem;
    left: 5%;
  }

  .headerImg {
    width: 100%;
  }
}