body {
  margin: 0;
  padding: 0;
  background-color: #f0e9e0;
}


.headerWrapper {
    width: 60%;
    position: relative;
}

.headerImg {
     width: 100%;
}

.headerText{ 
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    color: #f0e9e0;
    font-family: "DM Serif Text";
    font-size: 4vw;
}

.typingText{
    font-size: 2.5vw;
    color: #594E40;
    font-family: "DM Serif Text";
    position: absolute;
    left: 10%;
}

.CurvedDiv1 {
  position: absolute;
  top: 55%;
  width: 40%;
  right: 0;  
  color: #f0e9e0;
}

.CurvedDiv1 h2{
  position: absolute;
  left: 30%;
  top: 28%;
  font-size: 2vw;
}

.CurvedDiv1 p{
  position: absolute;
  left: 30%;
  top: 40%;
  font-size: 1.2vw;
}

.CurvedDiv1 svg{
  width: 100%;
  height: auto;
  display: block;
}

.CurvedDiv2{
  position: absolute;
  background-color: #594E40;
  width: 40%;
  top:170%;
  border-radius: 15px;
  color: #f0e9e0;
  left: 5%;
}

.CurvedDiv2 table{
  display: flex;
}

@media screen and (max-width: 768px) {
  .headerWrapper {
    width: 80%;
  }

  .headerText {
    font-size: 6vw;
    top: 12%;
    left: 10%;
  }

  .typingText {
    font-size: 5vw;
    margin-top: 2rem;
  }

  .headerImg {
    width: 100%;
  }

  .CurvedDiv1{
    top: 25%;
  }
}